@import "../../../scss/variables";

.Toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 1000;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $primary;
  border-bottom: 1px solid darken($primary, 10%);
  .ToolbarBody {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Buttons {
      align-self: center;
      > button:last-of-type {
        margin-left: 4px;
      }
    }
    .Logo {
      > h3 {
        color: $white;
        margin-bottom: 0;
      }
    }
  }
}
